<%- include("../../includes/page-start.ejs", {pathToRootFolder: "../../", useHighlightJS: true, title: "Getting Started", metaDescription: "Getting started with Code Box library."}) %>
    <%- include("../../includes/header.ejs", {pathToRootFolder: "../../", activeLink: "documentation"}) %>
    <%- include("../../includes/documentation-page-start.ejs") %>
        <h1 class="u-mb-4">Getting Started</h1>
        <p class="u-mb-6">Welcome to the Code Box documentation. Code Box is a JavaScript library developed in TypeScript, designed for showcasing code samples on the web. While it doesn't provide syntax highlighting itself, it serves as a container that allows users to select and display different code samples. You can either enable users to switch between different code samples with a few buttons or present the entire source code in a project-like format. For syntax highlighting, you can easily integrate libraries like <a href="https://highlightjs.org/" target="_blank" class="link">highlight.js</a>.</p>
        <h2 id="installation" class="u-mb-2">Installation</h2>
        <p class="u-mb-2">Code box is installed via NPM like any other package.</p>
        <%- include("./includes/npm-installation.ejs") %>
        <!-- TODO - potom to zkusit naimportovat a upravit ukázku kódu -->
        <p class="u-mb-2">After installation, you need to integrate the core CSS styles into your project. If you're using a CSS preprocessor, you can import the styles as shown below. If you're not using a preprocessor, simply copy the CSS file from the node_modules folder.</p>
        <%- include("./includes/import-core-styles.ejs") %>
        <h2 id="usage-example" class="u-mb-2">Usage Example</h2>
        <p class="u-mb-2">The most basic component of the library is the <a href="../code-view/" class="link">CodeView</a>. It is simply a code sample. The following example shows how to create it.</p>
        <%- include("./includes/create-code-view.ejs") %>
        <p class="u-mb-2">The library also includes <a href="../code-box/" class="link">CodeBox</a> components, which are composed of multiple CodeViews. These are the main components of the library. The following example demonstrates how to create a <a href="../tab-code-box/" class="link">TabCodeBox</a>, which offers the ability to switch between code samples using tabs.</p>
        <%- include("./includes/create-tab-code-box.ejs") %>
        <p class="u-mb-2">Another type of CodeBox is a <a href="../project-code-box/" class="link">ProjectCodeBox</a>. This component is designed to simulate a complete project by displaying the entire source code. The following example demonstrates how to create it.</p>
        <%- include("./includes/create-project-code-box.ejs") %>
        <h2 id="styling" class="u-mb-2">Styling</h2>
        <p class="u-mb-6">Code Box comes with only the core styles, leaving the rest up to you. For more details on how to customize the styling, refer to the chapter on <a href="../styling/" class="link">styling</a>.</p>
        <h2 id="automatic-code-box-creation" class="u-mb-2">Automatic Code Box Creation</h2>
        <p class="u-mb-2">If you have multiple code boxes and want to avoid creating them manually, you can generate them all at once using a creator. The example below shows how to do this for tab code boxes. You simply create a creator and call its create method, passing in a selector to target the elements from which the code boxes will be generated. For more details, refer to the chapter on <a href="../creators/" class="link">creators</a>.</p>
        <%- include("./includes/tab-code-box-creator.ejs") %>
    <%- include("../../includes/documentation-page-end.ejs", {pathToRootFolder: "../../", activeLink: "getting-started"}) %>
    <%- include("../../includes/footer.ejs") %>
<%- include("../../includes/page-end.ejs") %>