<%- include("../includes/page-start.ejs", {pathToRootFolder: "../", useHighlightJS: true, title: "Examples", metaDescription: "Examples of what can be created with Code Box."}) %>
    <%- include("../includes/header.ejs", {pathToRootFolder: "../", activeLink: "examples"}) %>
    <%- include("./includes/page-start.ejs") %>
        <h1 class="u-mb-4">Examples</h1>
        <p class="u-mb-6">This page showcases a few examples of what can be created with Code Box.</p>
        <h2 id="code-view" class="u-mb-2">Code View</h2>
        <h3 id="simple-code-view" class="u-mb-2">Simple Code View</h3>
        <%- include("./includes/simple-code-view.ejs") %>
        <h3 id="highlighting" class="u-mb-2">Highlighting</h3>
        <%- include("./includes/highlighting.ejs") %>
        <h2 id="code-boxes" class="u-mb-2">Code Boxes</h2>
        <h3 id="tab-code-box" class="u-mb-2">Tab Code Box</h3>
        <%- include("./includes/tab-code-box.ejs") %>
        <h3 id="project-code-box" class="u-mb-2">Project Code Box</h3>
        <%- include("./includes/project-code-box.ejs") %>
        <h3 id="project-code-box-inheritance" class="u-mb-2">Project Code Box Inheritance</h3>
        <%- include("./includes/project-code-box-inheritance.ejs") %>
        <h2 id="styling" class="u-mb-2">Styling</h2>
        <h3 id="styling-code-view" class="u-mb-2">Styling Code View</h3>
        <%- include("./includes/styling-code-view.ejs") %>
        <h3 id="styling-tab-code-box" class="u-mb-2">Styling Tab Code Box</h3>
        <%- include("./includes/styling-tab-code-box.ejs") %>
        <h3 id="styling-project-code-box" class="u-mb-2">Styling Project Code Box</h3>
        <%- include("./includes/styling-project-code-box.ejs") %>
        <h2 id="other" class="u-mb-2">Other</h2>
        <h3 id="visualization-of-code-execution" class="u-mb-2">Visualization of Code Execution</h3>
        <%- include("./includes/visualization-of-code-execution.ejs") %>
    <%- include("./includes/page-end.ejs") %>
    <%- include("../includes/footer.ejs") %>
<%- include("../includes/page-end.ejs") %>