<%- include("../../includes/page-start.ejs", {pathToRootFolder: "../../", useHighlightJS: true, title: "Virtual Code Box", metaDescription: "Learn about VirtualCodeBox, a special type of code box that is controlled only through code."}) %>
    <%- include("../../includes/header.ejs", {pathToRootFolder: "../../", activeLink: "documentation"}) %>
    <%- include("../../includes/documentation-page-start.ejs") %>
        <h1 class="u-mb-4">Virtual Code Box</h1>
        <p class="u-mb-6">VirtualCodeBox is a special type of code box, that is controlled only through code. It doesn't have any additional GUI.</p>
        <h2 id="usage-example" class="u-mb-2">Usage Example</h2>
        <p class="u-mb-2">The following example demonstrates how to create a VirtualCodeBox. Simply instantiate the VirtualCodeBox class by passing a reference to the root element of code box. You can read more about elements of code box <a href="../code-box/#elements-of-code-box" class="link">here</a>. You can also provide additional options as a second parameter.</p>
        <%- include("./includes/create-virtual-code-box-example.ejs") %>
        <p class="u-mb-6">If you want to create multiple virtual code boxes, you can use the <a href="../creators/#virtual-code-box-creator" class="link">VirtualCodeBoxCreator</a>. For more information, refer to the chapter on creators.</p>
        <h2 id="options" class="u-mb-2">Options</h2>
        <p class="u-mb-6">VirtualCodeBox accepts all options from the <a href="../code-box/" class="link">base CodeBox class</a> and does not have any additional options.</p>
        <h2 id="methods" class="u-mb-2">Methods</h2>
        <p>VirtualCodeBox has methods that are already described in the chapter about the <a href="../code-box/" class="link">base CodeBox class</a>. It does not define any additional methods.</p>
    <%- include("../../includes/documentation-page-end.ejs", {pathToRootFolder: "../../", activeLink: "virtual-code-box"}) %>
    <%- include("../../includes/footer.ejs") %>
<%- include("../../includes/page-end.ejs") %>