<%- include("./includes/page-start.ejs", {pathToRootFolder: "./"}) %>
    <%- include("./includes/header.ejs", {pathToRootFolder: "./"}) %>
    <div class="home-page-intro-section">
        <div class="home-page-intro-section__content">
            <h1 class="home-page-intro-section__heading">Code Box</h1>
            <p class="home-page-intro-section__intro-text">JavaScript library for displaying code samples on the web.</p>
            <div class="home-page-intro-section__call-to-actions">
                <a href="./documentation/getting-started/" class="home-page-intro-section__get-started-button">Get Started</a>
                <div class="home-page-intro-section__installation-command">npm install code-box</div>
            </div>
        </div>
    </div>
    <div class="home-page-about-section">
        <div class="home-page-about-section__content">
            <div class="home-page-about-section__section">
                <div class="home-page-code-box">
                    <%- include("./home-page-code-boxes/tab-code-box.ejs") %>
                </div>
                <div>
                    <p class="u-mb-2">Code Box is a JavaScript library developed in TypeScript, designed for showcasing code samples on the web. It serves as a container that allows users to select and display different code samples.</p>
                    <p>It doesn't include syntax highlighting itself, but you can easily integrate libraries such as <a href="https://highlightjs.org/" target="_blank" class="link">highlight.js</a> to add it.</p>
                </div>
            </div>
            <div class="home-page-about-section__section">
                <div>
                    <p class="u-mb-2">You can either enable users to switch between different code samples with a few buttons or present the entire source code in a project-like format.</p>
                    <p>Code Box can be used to enhance your programming tutorials, making them more interactive and engaging by allowing users to see and switch between various code examples easily. It's also a great tool for documentation of libraries or frameworks, providing a great way to showcase different functions and features - even within a complete project example.</p>
                </div>
                <div class="home-page-code-box">
                    <%- include("./home-page-code-boxes/project-code-box.ejs") %>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer__content footer__content--centered">Created by <a href="https://jirkasa.github.io/" target="_blank" class="footer__link">Jiří Satora</a></div>
    </footer>
<%- include("./includes/page-end.ejs") %>




<!--
    todo - nezapomenout na todo - zkusit naimportovat CSS core styles
    todo - webpack přidat code splitting
    todo - něco možná udělat s těmi odkazy na id (třeba použít nějakou knihovnu?)
    todo - na hlavní stránce vytvořit nějakou animaci
-->