        </main>
        <div class="documentation-page-layout__navigation">
            <div class="navigation">
                <h3 class="navigation__heading">Contents</h3>
                <nav class="navigation__items">
                    <ul id="DocumentationNavigationItems">
                        <li>
                            <div class="navigation__item">
                                <button data-collapsible-button class="navigation__item-dropdown-button">
                                    <svg>
                                        <use xlink:href="../../static/icon-sprite.svg#arrow-right"></use>
                                    </svg>
                                </button>
                                <a href="<%= pathToRootFolder %>documentation/getting-started/" class="navigation__item-link <% if (locals.activeLink === "getting-started") { %>navigation__item-link--active<% } %>">Getting Started</a>
                            </div>
                            <ul data-collapsible <% if (locals.activeLink === "getting-started") { %>data-collapsible-opened<% } %> class="navigation__collapsible">
                                <li class="navigation__item">
                                    <a href="<%= pathToRootFolder %>documentation/getting-started/#installation" class="navigation__item-link">Installation</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="<%= pathToRootFolder %>documentation/getting-started/#usage-example" class="navigation__item-link">Usage Example</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="<%= pathToRootFolder %>documentation/getting-started/#styling" class="navigation__item-link">Styling</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="<%= pathToRootFolder %>documentation/getting-started/#automatic-code-box-creation" class="navigation__item-link">Automatic Code Box Creation</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="navigation__item">
                                <button data-collapsible-button class="navigation__item-dropdown-button">
                                    <svg>
                                        <use xlink:href="../../static/icon-sprite.svg#arrow-right"></use>
                                    </svg>
                                </button>
                                <a href="<%= pathToRootFolder %>documentation/styling/" class="navigation__item-link <% if (locals.activeLink === "styling") { %>navigation__item-link--active<% } %>">Styling</a>
                            </div>
                            <ul data-collapsible <% if (locals.activeLink === "styling") { %>data-collapsible-opened<% } %> class="navigation__collapsible">
                                <li class="navigation__item">
                                    <a href="<%= pathToRootFolder %>documentation/styling/#rules-for-styling" class="navigation__item-link">Rules For Styling</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="<%= pathToRootFolder %>documentation/styling/#styling-code-view" class="navigation__item-link">Styling Code View</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="<%= pathToRootFolder %>documentation/styling/#styling-tab-code-box" class="navigation__item-link">Styling Tab Code Box</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="<%= pathToRootFolder %>documentation/styling/#styling-project-code-box" class="navigation__item-link">Styling Project Code Box</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="<%= pathToRootFolder %>documentation/styling/#virtual-code-box" class="navigation__item-link">Virtual Code Box</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="navigation__item">
                                <button data-collapsible-button class="navigation__item-dropdown-button">
                                    <svg>
                                        <use xlink:href="../../static/icon-sprite.svg#arrow-right"></use>
                                    </svg>
                                </button>
                                <a href="<%= pathToRootFolder %>documentation/code-view/" class="navigation__item-link <% if (locals.activeLink === "code-view") { %>navigation__item-link--active<% } %>">Code View</a>
                            </div>
                            <ul data-collapsible <% if (locals.activeLink === "code-view") { %>data-collapsible-opened<% } %> class="navigation__collapsible">
                                <li class="navigation__item">
                                    <a href="<%= pathToRootFolder %>documentation/code-view/#usage-example" class="navigation__item-link">Usage Example</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="<%= pathToRootFolder %>documentation/code-view/#options" class="navigation__item-link">Options</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="<%= pathToRootFolder %>documentation/code-view/#properties" class="navigation__item-link">Properties</a>
                                </li>
                                <li class="navigation__item">
                                    <a href="<%= pathToRootFolder %>documentation/code-view/#methods" class="navigation__item-link">Methods</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>